<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Node.js Monolith App</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <div class="container">
    <h1>⚡ ECS Load Balancing!</h1>
    
    <table>
      <tr>
        <td class="label">LAUNCH TYPE</td>
        <td class="value" id="launchType">Loading...</td>
      </tr>
      <tr>
        <td class="label">OS PLATFORM</td>
        <td class="value" id="osPlatform">Loading...</td>
      </tr>
      <tr>
        <td class="label">TASK ID</td>
        <td class="value" id="taskId">Loading...</td>
      </tr>
      <tr>
        <td class="label">INSTANCE ID</td>
        <td class="value" id="instanceId">Loading...</td>
      </tr>
      <tr>
        <td class="label">AVAILABILITY ZONE</td>
        <td class="value" id="availabilityZone">Loading...</td>
      </tr>
    </table>
  </div>

  <script>
    async function fetchMetadata() {
      try {
        const res = await fetch("/metadata");
        const data = await res.json();

        document.getElementById("launchType").textContent = data.launchType;
        document.getElementById("instanceId").textContent = data.instanceId;
        document.getElementById("taskId").textContent = data.taskId;
        document.getElementById("osPlatform").textContent = data.osPlatform;
        document.getElementById("availabilityZone").textContent = data.availabilityZone;
      } catch (err) {
        console.error("Error fetching metadata:", err);
        document.getElementById("launchType").textContent = "Error";
        document.getElementById("instanceId").textContent = "Error";
        document.getElementById("taskId").textContent = "Error";
        document.getElementById("osPlatform").textContent = "Error";
        document.getElementById("availabilityZone").textContent = "Error";
      }
    }

    window.onload = fetchMetadata;
  </script>

</body>
</html>